@import 'src/theme.scss';

.list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: $ListItemMargin;

	&:last-child {
		padding-bottom: 0;
	}

	.item-title {
		@include FontStyle($ItemTitleSize, $ItemTitleWeight, $ItemTitleColor);
		letter-spacing: 0.021em;
	}
	.item-content {
		@include FontStyle($ItemContentSize, $ItemContentWeight, $MainFontColor);
		letter-spacing: 0.01em;
	}
}