@import url('@fontsource/inter');
$CategoryTitleSize: 11px;
$ItemTitleSize: 9px;
$ItemContentSize: 11px;
$CategoryTitleWeight: 600;
$ItemTitleWeight: 500;
$ItemContentWeight: 400;
$MainFontColor: #FFF;
$ItemTitleColor: #8D8C95;

$BORDERCOLOR: #45454F;

$MainPadding: 8px 12px;
$ListItemMargin: 8px;
$BoxPadding: 12px;
$BoxMargin: 12px;


@mixin FontStyle($size, $weight, $color) {
	font-family: 'Inter';
	font-style: normal;
	line-height: 16px;
	font-size: $size;
	font-weight: $weight;
	color: $color;
}

@mixin BorderButtomLine($style) {
	border-bottom: 1px $BORDERCOLOR $style;
}

@mixin ColorImgPreviewBox {
	width: 12px;
	height: 12px;
	border: 0.5px solid rgba(255, 255, 255, 0.2);
	border-radius: 2px;
	display: inline-block;
}
